In [1]:
import numpy as np
import tqdm
import pandas as pd
from keplergl import KeplerGl
import os

os.environ['MAPBOX_API_KEY'] = "..." # Input something

# Process data

In [17]:
df_raw = pd.read_parquet('data/small.parquet')
print(df_raw.shape[0])

# Reshape to kepler
df = df_raw.sample(5000)
print(df.shape[0])
df.rename(columns={'altitude_meters': 'altitude'}, inplace=True)
df.head()

2713374
5000

,lat,lon,datetime,altitude,tripId,userId
9883202,39.984107,116.306776,2008-06-10 13:24:28,4.8768,052_20080610105630,052
10774159,39.989632,116.190837,2011-10-22 03:31:13,0.0000,141_20111022031803,141
16913240,38.438052,114.836355,2007-10-22 03:07:14,60.9600,010_20071021110759,010
13227755,7.745154,98.373336,2009-03-24 06:13:45,-18.5928,144_20090324004422,144
10826495,39.975078,116.339417,2011-10-22 09:12:43,0.0000,141_20111022031803,141

In [18]:
config = {
    'version': 'v1',
    'config': {
        'mapState': {
            'latitude': df.lat.median(),
            'longitude': df.lon.median(),
            'zoom': 5
        }
    }
}

keplermap = KeplerGl(height=900, config=config)

# Add the data
keplermap.add_data(data=df, name='data1', )

keplermap

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(config={'version': 'v1', 'config': {'mapState': {'latitude': 38.967610166666645, 'longitude': 116.208â€¦

In [19]:
keplermap.config

{'version': 'v1',
 'config': {'visState': {'filters': [],
   'layers': [{'id': 'bwqhcq',
     'type': 'point',
     'config': {'dataId': 'data1',
      'label': 'Point',
      'color': [18, 147, 154],
      'columns': {'lat': 'lat', 'lng': 'lon', 'altitude': None},
      'isVisible': True,
      'visConfig': {'radius': 10,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'data1': ['datetime',
       'altitude',
       'tripId',
       'userId']},
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 38.967610166666645,
   'longitude': 116.2087899333335,
   'pitch': 0,
   'zoom': 5,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [15]:
# save current map
#keplermap.save_to_html(file_name="data/keplerglmap.html")